{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<td class="align-middle">

<section class="sec_home1">
    <div class="centerf">
        <div class="container div_new_details p-4 mx-4">
            <br>
            <center>
                <h1>QUIENES SÓMOS?</h1>
            </center>
            <hr>
            <p class="about_content">
                Somos una entidad sin ánimo de lucro que busca fomentar el deporte en el área metropolitana de soledad y
                sus
                alrededores utilizando las horas libres de nuestros niños y jóvenes inculcando disciplina,
                responsabilidad,
                compromiso y sobre todo amor y pasión por el deporte.
            </p>
            <br>
        </div>
    </div>

</section>
</td>

<div style="background: whithe;">
    <center><img src={% static 'files/lg-pumas2.jpeg' %} alt="" width="5%"></center>
</div>

<section class="sec_mision">
    <div class="centerf">

        <div class="container div_new_details p-4 mx-4">
            <br>
            <center>
                <h1>MISIÓN</h1>
            </center>
            <hr>
            <p class="about_content">
                La misión de nuestro club es principalmente el fomento y la promoción de la práctica del fútbol, desde
                la
                infancia, para contribuir a mejorar la salud y el bienestar de las personas. Además, trabajamos en la
                formación
                de futbolistas y en educar en valores como el respeto, la igualdad y la importancia del esfuerzo.
            </p>
        </div>
    </div>
</section>

<div style="background: whithe;">
    <center><img src={% static 'files/lg-pumas2.jpeg' %} alt="" width="5%"></center>
</div>


<section class="sec_vision">
    <div class="centerf">

        <div class="container div_new_details full_center p-4 mx-4">
            <br>
            <center>
                <h1>VISIÓN</h1>
            </center>
            <hr>
            <p class="about_content">
                Queremos ser un club en continuo crecimiento, con ilusión y ambición para asumir nuevos retos y ser una
                institución referente en el ámbito deportivo, social y de formación de futbolistas con una estructura
                unificada
                y sólida.
            </dp>
        </div>
    </div>
</section>


{% endblock %}