{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<section class="sec_sponsors">
    <div class="centerf">

        <div class="container full_center px-5 about_icons">
            <br>
            <center>
                <h1>PATROCINADORES</h1>
                <hr>
                <a href="https://www.eae.es/actualidad/noticias/que-beneficios-tiene-el-patrocinio-deportivo-para-las-marcas">
                    <img class="img-fluid" src={% static 'files/patrocinar2.png' %}>
                    <br>
                    [ CLICK AQUI PARA MÁS INFORMACIÓN ]
                </a>
            </center>
            <p>
                &nbsp;
            </p>
        </div>
    </div>
</section>

{% endblock %}