{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<section class="sec_sponsors">
    <div class="centerf">

        <div class="container full_center px-5 about_icons">
            <br>
            <center>
                <div class="sponsors_txt">
                    <div class="container p-4 flex">
                        <h4>· PATROCINADORES ·</h4>
                    </div>
                </div>
                <hr>
                <a href="https://www.eae.es/actualidad/noticias/que-beneficios-tiene-el-patrocinio-deportivo-para-las-marcas"
                    target="_blank"
                    style="text-decoration: none;"
                >
                    <img class="img-fluid" src={% static 'files/patrocinar2.png' %}>
                    <br/><br/>
                    <div class="sponsors_txt2 div_sponsor">
                        <br/>
                        <h5>· [ CLICK AQUI PARA MÁS INFORMACIÓN ] ·</h5>
                        <br/>
                    </div>
                </a>
            </center>
            <p>
                &nbsp;
            </p>
        </div>
    </div>
</section>

{% endblock %}