section {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.sec_home1 {
  background-image: url("../files/ninhos1.jpg");
  background-position: 50% 50%;
}

.sec_vision {
  background-image: url("../files/ninhos2.jpg");
  background-position: 50% 50%;
}

.sec_mision {
  background-image: url("../files/team3.jpg");
  background-position: 50% 50%;
}

.sec_sponsors {
  background-image: url("../files/ninhos3.jpg");
  background-position: 50% 50%;
}

.sec_stats {
  background-image: url("../files/g404.gif");
  background-position: 50% 50%;
}


.div_main_contact {
  background-image: url("../files/team2.jpg");
  /* background-position: 50% 50%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.div_contact{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0;
}


.sec_login {
  /* fallback for old browsers */
  background: #6a11cb;
  background: rgb(6, 24, 72);
  background: linear-gradient(
    62deg,
    rgba(6, 24, 72, 1) 9%,
    rgba(171, 114, 5, 1) 96%
  );
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)) */
}

.div_news {
  background: rgb(6, 24, 72);
  background: linear-gradient(
    62deg,
    rgba(171, 114, 5, 1) 9%,
    rgba(6, 24, 72, 1) 96%
  );
}

.div_new_details {
  background: rgb(6, 24, 72);
  background: linear-gradient(
    62deg,
    rgb(214, 195, 159) 9%,
    rgb(193, 209, 255) 96%
  );
}


.vertical_center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.centerf {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* border: 3px solid green; */
  
}











/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.navbar-nav > li{
  /* Space between navbar items  */
  padding-left:24px;
  padding-right:24px;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.15);
}




.gradient_custom2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient_form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient_custom2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}











.animation1{
	-webkit-animation: animation1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: animation1 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-6 12:16:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
 @-webkit-keyframes animation1 {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes animation1 {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.home_main_title{
  /* font-family: EB Garamond; */
  font-family:Lucida Console;
  font-size: 12vw;
  letter-spacing: 20px;
  word-spacing: 0px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  background-color: rgba(6, 24, 72, 1);
  background-color: rgba(6, 24, 72, 0.6);
  text-shadow: 0 0 100px black;
  /* -webkit-text-stroke: 2px rgba(171, 114, 5, 1); */
  /* rgba(171, 114, 5, 1) 9%, */
}

.home_main_subtitle{
  /* font-family: EB Garamond; */
  font-family:Lucida Console; 
  font-size: 5vw;
  letter-spacing: 1px;
  word-spacing: 0px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  background-color: rgba(171, 114, 5, 1);
  background-color: rgba(171, 114, 5, 0.7);
  text-shadow: 0 0 40px black;
  /* -webkit-text-stroke: 2px rgba(6, 24, 72, 1); */
}

