{% extends 'layouts/base.html' %}

{% comment %} {% block content %} {% endcomment %}

{% comment %} Crispy Form Tag  {% endcomment %}
{% load crispy_forms_tags %}

{% block nav-content%}
    <i class="fa fa-user-check"></i>&nbsp;&nbsp; CANDIDATE
{% endblock nav-content%}


{% block content %}
<section>
    <div class="container mt-5" style="max-width: 450px;">
        <div class="card p-3 border-dark">
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form.title|as_crispy_field}}
                {{ form.description|as_crispy_field}}
                {{ form.image|as_crispy_field}}

                {% comment %} {{ form.gender|as_crispy_field}}
                {{ form.position|as_crispy_field}} {% endcomment %}
                <br><hr>
                <div class="d-grid gap-2 mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="{% url 'URL_news' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock%}