{% extends 'layouts/base.html' %}
<!-- {% load static %} -->
{% block content %}

<div class="div_news">
    <br/>
    <br/>
    <center><strong><h1 style="color: white;">Anuncios</h1></strong></center>
    <br/>

    {% if request.user.is_authenticated %}
        <div class="container p-4">
            <a href="{% url 'URL_managenews' pk=0 %}">
                {% comment %} pk=news.id {% endcomment %}
                <div class="card card-body">
                    <div class="row">
                        <center>
                            <img style="max-width: 80px;" src={% static 'files/add.png' %} alt=" pic_add">
                            <h3>Agregar</h3>
                        </center>
                    </div>
                </div>
            </a>
        </div>  
        <br/>
    {% endif %}


    <br/>
    {% for news in all_news %}
        <div class="container p-4">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img class="img-fluid" src="{{ news.image.url | default_if_none:'#' }}" alt=" pic_{{ news.title }}" alig-center>
                    </div>
                    <div class="col-7">
                        <h3><a href="{% url 'URL_new_details' pk=news.id %}">{{ news.title }}</a></h3>
                        <p class="text-muted">{{ news.date | date:"M, d, Y" | upper }}</p>
                        <p >{{ news.description | striptags | truncatechars:200 }}</p>
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="col-2">
                            <center>
                                <br/>
                                <a href="{% url 'URL_managenews' pk=news.id %}">
                                    <img style="max-width: 40px;" src={% static 'files/edit.png' %} alt=" pic_edit"> 
                                </a>
                                <br>
                                <br>
                                <a href="{% url 'URL_delnews' pk=news.id %}">
                                    <img style="max-width: 40px;" src={% static 'files/trash.png' %} alt=" pic_trash">
                                </a>
                            </center>
                        </div>
                            
                    {% endif %}

                </div>
            </div>
        </div>  
        <br/>
    {% endfor %}
</div>
<br/>
{% endblock %}