{% load static %}

<footer class="text-center text-white" style="background-color: white;">
    {% comment %} #0a4275;"> {% endcomment %}
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <div class="">
            <p class="d-flex justify-content-center align-items-center">
                <h6 style="text-decoration: none; color: black;">SPONSORS</h6>
                <span class="me-3" style="text-decoration: none; color: black;">Login</span>
                <button type="button" class="btn btn-outline-light btn-rounded">
                    <a href="" style="text-decoration: none; color: black;">Login</a>
                </button>
            </p>
        </div>
        <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
       <caption>Pumas Futbol Club © 2023 Copyright</caption>
        {% comment %} <a class="text-white" href="">opw-store.com</a> {% endcomment %}
    </div>
    <!-- Copyright -->
</footer>
