{% load static %}

<div style="background-color: whithe;">
    <footer class="text-center text-white" style="background-color: rgba(0, 0, 0, 0.2);">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!--Grid row-->
            <div class="row">



                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <!-- Section: CTA -->
                    <div class="mb-4 FOO_icons_follow">
                        <br>
                        <h6 class="text-muted" style="text-decoration: none;">SÍGUENOS</h6>
                        <hr>
                        
                        <a class="btn btn-secondary btn-floating m-1"
                            href="https://www.facebook.com/profile.php?id=100064115463414"
                            target="_blank" role="button"><i class="fab fa-facebook-f"></i></a>

                        <a class="btn btn-secondary btn-floating m-1"
                            href="https://www.instagram.com/pumasclubdeportivo/" target="_blank" role="button"><i
                                class="fab fa-instagram"></i></a>

                        <a class="btn btn-secondary btn-floating m-1"
                            href="http://wa.me/57311433160" target="_blank" role="button"><i
                                class="fab fa-whatsapp"></i></a>
                        <br>
                        <p class="d-flex justify-content-center align-items-center">
                    </div>
                </div>


                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <!-- Section: CTA -->
                    <div class="mb-4">
                        <br>
                        <h6 class="text-muted" style="text-decoration: none;">PATROCINADORES</h6>
                        <hr>
                        <a style="text-decoration: none;" href="https://www.eae.es/actualidad/noticias/que-beneficios-tiene-el-patrocinio-deportivo-para-las-marcas">
                            <div class="p-2 FOO_text_link" style="color: rgba(0, 0, 0, 0.25);">
                                    [ -- Ingrese su marca aqui -- ]
                            </div>
                        </a>
                        </p>
                    </div>
                    <!-- Section: CTA -->
                </div>
                <!-- Grid col -->


            </div>
            <!-- Grid row -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-4 text-muted" style="background-color: rgba(0, 0, 0, 0.1);">
            <br>
            <div>
                Pumas MX © {% now "Y" %} Todos los derechos reservados
                {% comment %} <a class="text-white" href="">opw-store.com</a> {% endcomment %}
                <hr>
                <a href="https://blondisbarrios.nicepage.io/"
                    style="text-decoration: none; color:rgba(0, 0, 0, 0.3); margin: 30px 0;" target="_blank">
                    <div class="p-2 FOO_text_link">
                        Esta plataforma ha sido creada por Blondis Barrios. Click aqui para mas información.
                    </div>
                </a>
            </div>

        </div>
        <!-- Copyright -->
    </footer>
</div>